# Core OpenTelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc

# Google Cloud
google-auth
google-cloud-logging
google-cloud-aiplatform>=1.110.0
google-cloud-spanner

# OpenTelemetry Instrumentations
opentelemetry-instrumentation-vertexai
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-aiohttp-client

# Utilities
python-dotenv>=1.0.0
grpcio
requests>=2.0.0
python-dateutil
aiohttp

# Other dependencies
Flask==3.0.0
humanize==4.8.0
