# Google Cloud
PROJECT_ID=""
REGION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI=TRUE
SPANNER_INSTANCE_ID="instavibe-graph-instance"
SPANNER_DATABASE_ID="graphdb"
GOOGLE_MAPS_API_KEY=""

# MCP Server
MCP_SERVER_URL=""
