google-cloud-aiplatform[adk,agent_engines]==1.98.0
Flask==3.1.0
mcp[cli]>=1.8.0
google-adk==1.4.2
google-cloud-spanner==3.54.0
python-dateutil==2.9.0.post0
humanize==4.12.3
nest_asyncio==1.6.0
asyncclick==8.1.8.0
google-adk[eval]==1.4.2
build==1.2.2.post1
google-genai>=1.17.0,<2.0.0
deprecated==1.2.18
python-dotenv==1.0.1
google-cloud-logging==3.9.0
opentelemetry-api>=1.22.0
opentelemetry-sdk>=1.22.0
opentelemetry-exporter-gcp-trace~=1.9.0 # Corrected version
opentelemetry-propagator-gcp~=1.9.0 # Corrected version
opentelemetry-instrumentation>=0.43b0
opentelemetry-instrumentation-logging>=0.43b0
