Flask==3.0.0
aiohttp
cloudpickle>=3.0.0
fastmcp
google-adk>=1.13.0
google-auth
google-auth[aiohttp]>=2.0.0
google-cloud-aiplatform[agent_engines,adk]>=1.110.0
google-cloud-aiplatform>=1.110.0
google-cloud-logging
google-cloud-spanner
grpcio
grpcio-status
humanize==4.8.0
nest_asyncio>=1.6.0
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-vertexai
opentelemetry-sdk
pydantic
python-dateutil
python-dotenv>=1.0.0
pytest-asyncio
requests>=2.0.0
