__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv/
venv/
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.pytest_cache/
.coverage
*.log
.git
.gitignore
*.DS_Store
# Add other project-specific files/dirs to ignore if any
