google-cloud-aiplatform[adk,agent_engines]==1.110.0
Flask==3.1.0
fastmcp==2.11.3
google-adk==1.12.0
python-dateutil==2.9.0.post0
deprecated==1.2.18
gunicorn
python-dotenv>=1.0.1

# OpenTelemetry for tracing and diagnostics
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
traceloop-sdk
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-asgi
google-auth
starlette
