# OpenTelemetry
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-vertexai

# Google Cloud
google-cloud-logging
google-cloud-aiplatform[agent_engines,adk,memory_bank]>=1.110.0
google-adk>=1.13.0

# Other
python-dotenv>=1.0.0
nest_asyncio>=1.6.0
cloudpickle>=3.0.0
pydantic
requests>=2.0.0
google-auth[aiohttp]>=2.0.0
grpcio
grpcio-status
